@import "tailwindcss";

/* Esto le dice a Tailwind que busque clases dentro de tu carpeta de componentes */
@source "../components";

@theme {

  --color-beige:#f2f3d9; /* Letras, textos, etc.*/
  --color-azul:#222e50;/* Color de la identidad*/
  --color-esmeralda:#2ca880; /* Color exitos o cosass buenas*/
  --color-coral:#f96f5d; /* Color errores, o cosas negativas*/
  --color-gris:#626267;/* Color principal, el que mas predomina, color fondo*/
  --color-dorado:#fe9920; /*Color detalles para contrastar con el azul*/
  
  --font-sans: var(--font-lexend), ui-sans-serif, system-ui;
}

body {
  /* Usamos tus nuevas variables para el estilo base del cuerpo */
  background-color: var(--color-beige);
  color: var(--color-beige);
  font-family: var(--font-sans);
  border-width: 3px;
  border-style: dotted;
}
@keyframes wave {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(18deg); }
  50%  { transform: rotate(-12deg); }
  75%  { transform: rotate(18deg); }
  100% { transform: rotate(0deg); }
}

@keyframes slide-x {
  0%,100% { transform: translateX(0); }
  50%     { transform: translateX(8px); }
}

/* clases utilitarias */
.animate-wave {
  animation: wave 0.9s ease-in-out infinite;
  transform-origin: 70% 70%;
}

.animate-slide-x {
  animation: slide-x 0.7s ease-in-out infinite;
}